[submodule "3rdparty/OpenTLD"]
	path = 3rdparty/OpenTLD
	url = https://github.com/arthurv/OpenTLD.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/SuperweedMan/opencv.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/SuperweedMan/pybind11.git
